body {
    font-family: cursive, Arial, Helvetica, sans-serif;
    background-color: #a5c4d3; min-height: 100vh;
}

nav {
    background-color: #095b5a;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    color: #fff;
    padding: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100px; 
    margin-bottom: 20px;  
}
nav.black ul {background: #077f6f;}


 .active a {
    color:            #0c0000;
    background-color: #f4f6f9;
    font-weight: bold;
    font-family: cursive;
    font-size: 25px;
    transition: background-color 1s, color 1s, font-weight 1s , font-size 1s;  
}
nav a {
    color:            #0c0000;   
transition: background-color 1s, color 1s, font-weight 1s , font-size 1s; 
}
nav a:hover{
    background-color: #000000; 
    color: #F8F8F8;
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;
}

 .active a:hover{
    background-color: #000000; 
    color: #F8F8F8;
    font-weight: bold;
    font-size: 25px; 
}
nav ul {
list-style: none;
background: rgba(0,0,0,0);
width: 100%;
list-style: none;
display: flex;
justify-content: space-between;
color: white;
padding: 0px;
transition: 1s;
}

nav ul li  {   
    padding: 1rem;      
}
nav ul li a {
 
 color:white;
 font-size: 0.8rem;
 font-family: cursive;;
 text-transform: uppercase;
 letter-spacing: 1px; 
}

nav li {
    display: inline;
    height: 3em;    
}
nav a{
    height: auto;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.container-home {
    display: flex;
    background-color: rgb(187, 189, 191);    
}
.text-container {
    flex: 1;
    padding: 70px;
    text-align: center;
    color: #fff;
    margin-top: 7rem;   
}
.text-container h1{font-size: 7rem;margin: 0.3rem; }
.text-container h4{font-size: 4rem;margin: 0.3rem;}
.text-container p{font-size: 1.1em;}
.text-container h6{color: #000; }

.image-container {  
    flex: 1;
    max-width: 100%;
    height: 100%;  
}
.image-container img {
    height: auto;
    margin-top: 6.5rem;   
}
.cards-container-about {
    margin-top: 0px;
    padding: 0px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72c4b8;
}

.card img {
    height: 30rem;
    width: 100%;
    transition: 1s;
}

.card{
    height: auto;
    margin: 3.5rem;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    margin-top: 15rem;
}

.intro{
    height: 5rem;
    max-width: 25%;
    padding: 6px;
    box-sizing: border-box;
    position: fixed;
    background: rgb(27,27,27,.5);
    color: #fff;
    transition: .5s;
}
.card h1{
    font-size: 40px;
    font-family: cursive;
}
.card p{
    margin: 10px;
    font-size: 20px;
    font-family: cursive;
    visibility: hidden;
    opacity: 0; 
}

.card:hover .intro{
    bottom: 10rem;
    background: rgb(6, 0, 0);
    height: auto;
}
.card:hover p {
    opacity: 1;
    visibility: visible;
    height: auto;
}


.footer-home p,.footer-home a {background-color:#63a38c ;
margin-top: 0px;
margin-bottom: 0px;
font-weight: normal;
text-decoration: none;
color: #fff;
font-size: 20px;
}



.content-resume {
    background-color: #BBBDBF;
    padding: 100px; 
    font-family:cursive    
}



.image-container-resume{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;  
    background-color: #8fdcd0;
    padding: 0;   
}
.image-container-resume img {width: 25%;height: auto; padding: 0; }

.sidebar{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 20rem;
    z-index: 999;
    box-shadow:-10px 0 10px rgba(0,0,0,0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    background-color: #317f8f;
}
.sidebar li{
    width: 100%;
    height: auto;
}
.sidebar a{width: 100%; height: auto;}
.menu-button{
    display: none;
    width: 100%;
    height: auto;
}
.projects-content h1 {
    text-align: center;
   padding: 130px;
}
.projects-content p{
    text-align: center;
    padding: 20px; 
}

.box {
    width: 100%;
    border: 30px solid #80c4c7;
    margin: 20px;
    box-sizing: border-box;  
}
.projects-content-div {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;   
}
.box img {
    width: 100%;
    height: auto;
    max-height: 200px;
}


@media(max-width:700px) {
    .hideonmobile{
        display: none;
    }
    .menu-button{
        display: block;
        height: auto;
        width: 100%;
    }
    .card img {
        height: 10rem;
        width: 100%;
        transition: 1s;
    }
    .card:hover .intro{
        background: rgb(6, 0, 0);
        height: auto;
    }
    .intro{
    height: 5rem;
    max-width: 25%;
    padding: 6px;
    box-sizing: border-box;
    position: fixed;
    background: rgb(27,27,27,.5);
    color: #fff;
    transition: .5s;
    }
      
    
    *{font-family: cursive;
    margin: 0;}
    .projects-content-div {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: auto;
        
    }
    
    
}











